.sidebar {
  background-color: #f1f1f1;
  margin-top: 5.3rem !important;

  a {
    display: block;
    font-size: 18px;
    padding: 30px 20px;
    color: black;
    border-bottom: 1px solid rgb(205, 205, 210);
    text-decoration: none;
    font-weight: 600;

  }

  a.Active {
    background-color: black !important;
    color: white !important;
    font-weight: 600;

  }
}
