
<div class="container">
  <div class="title">
    <div class="row">
      <div class="col-md-12">
        <h2>Store</h2>
      </div>
      </div>
      </div>
      <hr>
    <div class="row">
        <div class="col-lg-4" *ngFor="let Data of ELEMENT_DATA">
            <mat-card class="example-card">
              <span class="price">{{Data.price}} L.E</span>
                <img mat-card-image src="{{Data.image}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h2>
                   {{Data.name}}
                  </h2>
                  <button mat-button (click)="AddtoCard(Data.code, Data.name , Data.image , Data.price )">Add to Cart</button>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
        </div>
    </div>
</div>



